.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 77%);
  }
  100% {
    background-color: hsl(0, 0%, 44%);
  }
}

.skeleton-text {
  height: 224px;
  width: 224px;
  border-radius: 0.25rem;
}
