@import "../../styles/colors-mixins";

.container {
  ::ng-deep {
    .mat-grid-tile-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  .img {
    width: 224px;
    height: 224px;
    border-radius: 8px 8px 0 0;
  }

  .content {
    background: #0a0a0a;
    padding: 10px;
    border-radius: 0 0 8px 8px;
  }

  .name {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: white;
  }

  .background-white {
    background-color: white;
  }

  .category {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: $gray-color;
  }

  .primary {
    position: relative;
    overflow: hidden;

    .heart {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      position: absolute;
      right: -20px;
      top: -28px;

      mat-icon {
        position: absolute;
        top: 40px;
        left: 10px;
      }
    }
  }
}

::ng-deep {
  mat-dialog-container {
    background: none;
  }
}

.see-more {
  --line-height: 2.25rem;
  font-size: 1.75rem;
  color: white;
  font-weight: 400;
  letter-spacing: normal;
  margin: 1rem 0;
  text-align: center;
  width: 100%;
  border: none;
  background: none;
}
