<main
  [ngStyle]="{
    'padding-left.px': screenWidth(),
    'padding-right.px': screenWidth()
  }"
>
  <div class="header">
    <app-title title="INÍCIO" />
    <mat-form-field appearance="outline">
      <mat-label>Pesquisar</mat-label>
      <input matInput [formControl]="searchCharacter"/>
    </mat-form-field>
  </div>
  <section>
    @if(true){
    <app-character-list [seeMore]="true" [characters]="characters" />
    }@else {
    <app-feedback
      title="Nada foi encontrado"
      subtitle="Tente realizar uma nova busca."
    />
    }
  </section>
</main>
